<p><span class="rate">classificação </span><span class="comment_titule">Tecido bom </span><span class="comment_date">1/12/12</span></p>
<p class="comment_username">by Amilcar Lopes</p>
<p>O tecido da cena é bastante confortavél e muito leve para a prática de desporto</p>