<p><span class="rate">classificação </span><span class="comment_titule">Titulo do comentário </span><span class="comment_date">1/12/12</span></p>
<p class="comment_username">Nome do utilizador</p>
<p>Conteudo da cena</p>

<p><span style="display: block; width: 65px; height: 13px; background: url(star-rating-sprite.png) 0 0;">
    <span style="display: block; width: 70%; height: 13px; background: url(star-rating-sprite.png) 0 -13px;"></span>
</span></p>