<div>
	<img class="product_search_img" src="/assets/plazr_store/4.png"></img>
	<p>Adidas</p>
	<p>Modelo x</p>
	<p>Classificação</p>
	<p>25 €</p>
	<form action="">
		<input type="checkbox" name="product" value="productName">
	</form>
</div>