<h2>About Us</h2>

<section>
	<p>O Plazr é um projeto inovador que visa simplificar a criação e manutenção de lojas de desporto online. A ideia é simplificar a transição do comércio tradicional para o mundo digital.</p>
	<p>O Plazr responsabiliza-se por alojamento e segurança.</p>
	<p>O Plazr integra diversos tipos de pagamentos.</p>
</secion>

<section>
	<h2>Quem somos?</h2>
	<p>O Plazr é desenvolvido por um equipa estudante da Universidade do Minho.</p>
</section>