<header>
  <h1>The awesome store</h1>
</header>

<!-- Advertisement -->
<section>
Video, or slideshow
</section>

<section>
  <header>
    <h2>Featured</h2>
  </header>
  <section>
    <% 5.times do %>
      <%= render 'featured' %>
    <% end %>
  </section>
</section>

<section>
  <header>
    <h2>Recommended</h2>
  </header>
  <section>
    <% 5.times do %>
      <%= render 'recommended' %>
    <% end %>
  </section>
</section>

<section>
  <header>
    <h2>Products</h2>
  </header>
  <section>
    <% 10.times do %>
      <%= render 'product' %>
    <% end %>
  </section>
</section>

<footer role="contentinfo">
  Copyright &copy; meself
</footer>