<article class="container">

	<header class="row-fluid">
		<div class="span12">
			<h1>T-Shirt da Moda</h1>
			<p>classificação</p>
		</div>
	</header>

	<section>
		<div class="row-fluid">
			<div class="span4">
				<img src="/assets/plazr_store/1.png"></img>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span8">
				<%= render "sec_images" %>
			</div>
		</div>

		<div class="row-fluid">
			<h3>Descrição</h3>
		</div>
		
		<div class="row-fluid">
			<div class="span4">
				<div>
					<p>Referência<p>
					<p>04379733</p>
					<p>Utilização</p>
					<p>FUTEBOL</p>
					<p>4,99€</p>
				</div>
			</div>
			<div class="span4">
				<p>Tamanho:</p>
				<select>
				  <option>M</option>
				  <option>L</option>
				  <option>XL</option>
				</select>
				<p>Quantidade:</p>
				<input type="number" value="Quantity" />
			</div>
		</div>

		
		<div class="row-fluid">
			<div class="span4">
				<input type="submit" value="Adicionar ao cesto" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<input type="submit" value="Adicionar à wishlist" />
			</div>
		</div>
		<div class="row-fluid">
			<div class="span4">
				<input type="submit" value="Partilhar" />
			</div>
		</div>

	<section>

	<section>

		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Pacote de produtos</h3>
				</div>
			</div>
		</header>
		
			<div class="row-fluid">
				<div class="span4">
					<%= render 'package_group' %>
				</div>
			</div>

	</section>

	<section>

		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Produtos relacionados</h3>
				</div>
			</div>
		</header>

			<div class="row-fluid">
				<div class="span4">
					<%= render 'related_products_im' %>
				</div>
			</div>

	</section>

	<section>

		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Comentários</h3>
				</div>
			</div>
		</header>

		<div class="row-fluid">
			<div class="span4">
				<%= render 'comment' %>
			</div>
		</div>

	</section>

</article>
