<article class="container">

	<header class="row-fluid">
		<div class="span12">
			<h1>T-Shirt da Moda</h1>
				<% 5.times do %>
					<i class="icon-star"></i>
				<% end %>
		</div>
	</header>

	<section>
		<div class="row-fluid">
			<div class="span4 product-border">
				<img src="/assets/plazr_store/1.png"></img>
			</div>
			<div class="span8">
				<%= render "sec_images" %>
			</div>
		</div>

		<div class="row-fluid">
			<div class="span4">
				<p>Tamanho:</p>
				<select>
				  <option>M</option>
				  <option>L</option>
				  <option>XL</option>
				</select>
				<p>Quantidade:</p>
				<input type="number" value="Quantity" />
				<input type="submit" value="Adicionar ao cesto" />
				<input type="submit" value="Adicionar à wishlist" />
			</div>
			<div class="span8">
				<dl class="">
					<dt>Descrição</dt>
					<dd>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</dd>
					<dt>Referência<dt>
					<dd>04379733</dd>
					<dt>Categoria</dt>
					<dd>Futebol</dd>
					<dt>Preço</dt>
					<dd>€4,99</dd>
				</dl>
			</div>
		</div>

	<section>

		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Pacotes onde está incluido</h3>
				</div>
			</div>
		</header>
		
			<div class="row-fluid">
				<div class="span4">
					<%= render 'package_group' %>
				</div>
			</div>

	</section>

	<section>
		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Produtos relacionados</h3>
				</div>
			</div>
		</header>

			<div class="row-fluid">
				<div class="span4">
					<%= render 'related_products_im' %>
				</div>
			</div>
	</section>

	<section>
		<header>
			<div class="row-fluid">
				<div class="span4">
					<h3>Comentários</h3>
				</div>
			</div>
		</header>
		<div class="row-fluid">
			<div class="span4">
				<%= render 'comment' %>
			</div>
		</div>
	</section>

</article>
