- in_promotions  = @section == 'promotions' && @view == 'index'
- in_promo_codes = @section == 'promotional_codes'
-# in_discounts  = @section == 'discounts'  && @view == 'index'
.well.well-small
	%ul.nav.nav-list
		%li.nav-header Gerir ofertas
		%li{ :class => in_promotions ? :active : nil }
			= link_to 'Promoções', in_promotions ? '#' : admin_promotions_path
		/ %li{ :class => in_promo_codes ? :active : nil }
		/ 	= link_to 'Códigos', in_promo_codes ? '#' : admin_promotional_codes_path
= render "plazr_store/admin/#{@section}/nav_section" if @section == 'promotions'