$border-color: #D7DCDE;

$background-color: #F9F2E7;

$header-color: #0F0F0F;
$shadow-color: rgba(217, 217, 217, 0.9);

$thumb-bg: rgba(#00A8C6, 0.7);
$thumb-hover: #00A8C6;
$transparent-hover: #7B79AF;

$recommended-bg: #00A8C6;
