$border-color: #D7DCDE;

$background-color: #D7DCDE;
$background-color2: #D7DCDE;

$header-color: #0F0F0F;
$shadow-color: rgba(217, 217, 217, 0.9);

$thumb-bg: #D7DCDE;
$thumb-hover: #0F0F0F;

// $border-color: #EEE;
// $background-color: $color2;
// $background-color2: $color2;

// $header-color: rgba( 255, 255, 255, 1 );
// $shadow-color: rgba(0, 0, 0, 0.6);

// $thumb-bg: #F6F6F6;
// $thumb-hover: $color3;
