$border-color: #D7DCDE;

$background-color: #DDE6D6;

$header-color: #0F0F0F;
$shadow-color: rgba(217, 217, 217, 0.9);

$thumb-bg-color: rgba(#00A8C6, 0.7);
$thumb-hover: #00A8C6;
$transparent-hover: #7B79AF;

$recommended-bg: #00A8C6;

$border-color: #00A8C6;
$recommended-bg-color: rgba(#00A8C6, 0.6);
$recommended-bg-hover-color: rgba(#00A8C6, 0.8);
$recommended-fg-color: white;