<ul>
  <% @wishlist.variant_wishlists.each do |variant_wishlist| %>
    <li>
      <%= link_to variant_wishlist.info, product_path(variant_wishlist.product) %>
      <%= link_to 'Delete', wishlist_remove_path(variant_wishlist.variant), method: :delete %>
      <%= link_to 'Add to Cart', cart_add_path(variant_wishlist.variant) %>
    </li>
  <% end %>
</ul>
