<ul>
  <% @wishlist.wishlist_variants.each do |wishlist_variant| %>
    <li>
      <%= link_to wishlist_variant.info, product_path(wishlist_variant.product) %>
      <%= link_to 'Delete', wishlist_remove_path(wishlist_variant.variant), method: :delete %>
      <%= link_to 'Add to Cart', cart_add_path(wishlist_variant.variant) %>
    </li>
  <% end %>
</ul>
