$border-color: #EEE;

$color1: #E4E6E7;
$color2: #24718A;
$color3: #0D607C;
$color4: #48ADCE;
$color5: #63B4CE;

$over-color: $color3;
$bg-color: #F6F6F6;


a.thumb-item {
    margin-bottom: 3em;
	color: #333;
	text-decoration: none;
	article {
		border: 1px solid $border-color;
	}
	.thumb-item-image {
		width: 100%;
		-moz-background-size:cover;
		-webkit-background-size:cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;

		-webkit-transition: opacity 0.1s ease-in-out;
		-moz-transition: opacity 0.1s ease-in-out;
		-o-transition: opacity 0.1s ease-in-out;
		transition: opacity 0.1s ease-in-out;
	}

    section.box {
    	text-align: center;
    	padding: 5px 0 1px 0;
    	background: $bg-color;
    	// border-bottom: 1px solid $border-color;
    }

	&:hover {
		text-decoration: none;
		article {
			border: 1px solid $over-color;
		}
		.thumb-item-image {
			opacity:0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
		}
		section.box {
			background: $over-color;
			color: white;
			-moz-transition: all 0.1s ease-in;
    		-webkit-transition: all 0.1s ease-in;
    		-o-transition: all 0.1s ease-in;
    		transition: all 0.1s ease-in;
    	}
    }
}