@import 'plazr_store/partials/colors';


$color1: #E4E6E7;
$color2: #24718A;
$color3: #0D607C;
$color4: #48ADCE;
$color5: #63B4CE;

$bg-color: #F6F6F6;

#index-page {
	padding-top: 1em;

	#well-outter {
		h4 {
			border-bottom: 1px solid $border-color;
		}
		background-color: white;
		margin: 0;
		.well-list {
			.well-entry {
				border-bottom: 1px solid $border-color;
			}
        }
    }

    #recommended {
        margin-top: 2em;
    }

    #featured {
        background-color: $bg-color;
        position: relative;
        font-size: 25px;
        // border: 1px solid white;
        border: 1px solid $border-color;
        &:hover {
            // border: 1px solid $color5;
            .thumb-item-image {
                opacity:0.6;
                filter:alpha(opacity=60); /* For IE8 and earlier */
            }
            background-color: $color3;
            border: 1px solid $color3;
			-moz-transition: all 0.2s ease-in;
    		-webkit-transition: all 0.2s ease-in;
    		-o-transition: all 0.2s ease-in;
    		transition: all 0.2s ease-in;
    		.featured-box {
    			color: white;
    			-moz-transition: all 0.2s ease-in;
    			-webkit-transition: all 0.2s ease-in;
    			-o-transition: all 0.2s ease-in;
    			transition: all 0.2s ease-in;
    		}
    	}

    	.featured-image {
            z-index: -10;
    		height: 300px;
    		width: 350px;
    		float: left;
    		-moz-background-size: cover;
    		-webkit-background-size: cover;
    		background-size: cover;
    		background-repeat: no-repeat;
    		background-position: center top;
    		-webkit-transition: opacity 0.2s ease-in-out;
    		-moz-transition: opacity 0.2s ease-in-out;
    		-o-transition: opacity 0.2s ease-in-out;
    		transition: opacity 0.2s ease-in-out;
    	}

    	.featured-box {
    		color: #333;
    		text-decoration: none;
    		h3, p.price {
    			margin-bottom: 0;
    		}
    		> div {
    			position:absolute;
    			bottom: 15px;
    			padding-left: 370px;
    		}
    	}

    }
}

