div.photo {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

.row-fluid [class*="span"] {
	margin-left: 0;
}

article.product {
	border: 1px solid grey;
	border-radius: 1em;
	padding: 1em;
	h5 {
		text-align: center;
	}
}