div.photo {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

article.product {
	h5 {
		text-align: center;
	}
}