<!DOCTYPE html>
<html>
  <head>
    <title>PlazrStore</title>
    <%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Navigation bar -->
    <div role="navigation" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <!-- <div class="container"> -->
          <a class="brand" href="#">Plazr.net</a>
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search products">
          </form>
          <ul class="nav pull-right">
            <li class="active"><a href="#">Option</a></li>
          </ul>
        <!-- </div> -->
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "plazr_store/application" %>
</body>
</html>
