<!DOCTYPE html>
<html>
  <head>
    <title>PlazrStore</title>
    <%= stylesheet_link_tag    "plazr_store/application", :media => "all" %>
    <%= javascript_include_tag "plazr_store/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <navigation>
      <ul>
        <li>Home</li>
        <li>About Us</li>
      </ul>
    </navigation>

    <%= yield %>

  </body>
</html>
