<section class="row-fluid">
	<div>
		<h4>Bestsellers</h4>
	</div>
	<% @best.each do |best| %>
		<article class="best-entry row-fluid">
			<div class="span2">
				<%= image_tag best.image.file.url %>
			</div>
			<div class="span10">
				<div class="row-fluid"><b><%= best.name %></b></div>
				<div class="row-fluid"><%= best.details %></div>
			</div>
		</article>
	<% end %>
</section>