<div id="well-outter">
	<section class="row-fluid well-list">
		<% @best.each_with_index do |best, index| %>
		<a href="<%= url_for best %>">
			<article class="well-entry row-fluid">
				<div class="span12" style="background-image:url('<%= image_path best.image.file.url %>')">
					<span><%= best.name %></span>
				</div>
			</article>
		</a>
		<% end %>
	</section>
</div>