<div class="container" id="index-page">

	<div class="row-fluid">
		<section id="featured" class="span8">
			<%= render 'featured' if @featured %>
		</section>
		<section class="span4 well-outter">
			<%= render 'best' if @best %>
		</section>
	</div>

	<section id="recommended">
		<header class="page-header">
			<h2>Recommended</h2>
		</header>
		<section class="row-fluid">
			<% @recommended.each do |recommended| %>
				<%= render 'recommended_single', :recommended => recommended %>
			<% end %>
		</section>
	</section>
</div>