<!-- Select me by clicking -->
<article>
	<h4>Title</h4>
	<%= image_tag 'placehold.it.200.gif' %>
	<p>Small description.</p>
</article>
<div>
	<%= link_to 'Show', '#' %>
	<%= link_to 'Edit', '#' %>
	<%= link_to 'Delete', '#' %>
</div>