<div class="container">
	<div class="page-header">
		<h1><%= "Search Results for \"#{params[:search]}\"" %></h1>
	</div>

	<div class="row-fuild" id="filters">

		<div class="span3">
			<span>Preço: </span>
			<input type="number" value="0" name="min_price">
			<span> € a </span>
			<input type="number" value="0" name="max_price">
			<span> €</span>
		</div>

		<div class="span4">
			<span>Marca: </span>
			<select id="brand">
				<option value="">Selecione uma marca</option>
				<% @brands.each do |brand| %>
					<option><%= brand.name %></option>
				<% end %>
			</select>
		</div>

		<div class="span4">
			<span>Preço: </span>
			<select id="price">
				<option value="">Ordene por preço</option>
				<option value="1">Ascendente</option>
				<option value="-1">Descendente</option>
			</select>
			<button>Filter</button>
		</div>

	</div>

	<div class="row">
		<% @products.each do |product| %>
			<%= render 'product', product: product %>
		<% end %>
	</div>

	<%= will_paginate @products %>
</div>
