<header><h2>Profile | Miguel Buster</h2></header>

<section>
	<% 5.times do %>
		<article>
			<p>Some Random Buyer Name</p>
			<p>Destination - 4830</p>
			<p>30€</p>
			<time>30 de Fevereiro de 2030</time>
		</article>
	<% end %>
</section>