%h1 Show Property
%p#notice
  = notice
%table
  %tr
    %td
      %b Display Name
    %td
      = @property.display_name

= link_to 'Edit', edit_admin_property_path(@property)
|
= link_to 'Back', admin_properties_path
