- in_pages = @section == 'pages'                   && @view == 'index'
- in_custm = @section == 'template_customizations' && @view == 'index'
.well.well-small
	%ul.nav.nav-list
		%li.nav-header Administrar
		%li{ :class => in_pages ? :active : nil }
			= link_to 'Páginas', in_pages ? '#' : admin_pages_path
		%li{ :class => in_custm ? :active : nil }
			= link_to 'Cores', in_custm ? '#' : admin_template_customizations_path
= render "plazr_store/admin/#{@section}/nav_section"