%h1 Show Discount Type
%p#notice
  = notice
%table
  %tr
    %td
      %b Name
    %td
      = @discount_type.name

= link_to 'Edit', edit_admin_discount_type_path(@discount_type)
|
= link_to 'Back', admin_discount_types_path