//= require ../application
//= require_self
div.photo {
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

#variants {
	margin: 0 !important;
}

.cell {
	margin: 0 !important;
	max-width: 300px;
	min-width: 100px;

	article {
		margin: .5em;
		text-align: center;
	}
}