#admin
	.listing
		%h1 Cores
		%table.table.table-striped.table-hover.table-bordered
			%thead
				%tr
					%th Elemento
					%th Valor

			%tbody
				- @template_customizations.each do |template_customization|
					%tr
						%td= template_customization.display_name
						%td= template_customization.value
						%td.btn-mini
							= link_to 'Alterar', edit_admin_template_customization_path(template_customization), :class => [:btn, 'btn-mini']
