<div class="topbar-wrapper">
	<div class="container">
		<div class="topbar clearfix">
			<nav>
				<ul class="nav nav-pills pull-left">
					<li><%= link_to 'Store', '#' %></li>
					<li><%= link_to 'Single', '#' %></li>
					<li><%= link_to 'About', '#' %></li>
				</ul>
			</nav>
			<form class="form-search pull-right">
				<select>
					<option value="volvo">--</option>
					<option value="saab">Camisolas</option>
					<option value="opel">Calças</option>
					<option value="audi">Sapatilhas</option>
				</select>
				<input placeholder="search something" class="input-large" type="text">
				<button class="btn" type="button">Search</button>
			</form>
		</div>
	</div>
</div>
