%h1 Listing Products
-# = pagination_links(@product_pages)
%table
  - @products.each do |product|
    %tr
      %td= link_to product.name, product_path(product)
      %td= product.master_price
      -# %td= image_tag product.master_variant.first.multimedia.first.file.url(:thumb)
